body {
  /* Background pattern from Subtle Patterns  
  https://www.toptal.com/designers/subtlepatterns*/
  background-image:url("../images/full-bloom.png");
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Jua', sans-serif;
}

main {
  flex: 1 0 auto;
}

p{
	font-size: 25px;
}

.lText {
	font-size: 30px;
}
h3 {
	font-size: 25px;
}

#add, #clear, #pick {
	font-size: 20px;
}

button{
	font-size: 50px;
}
.delete {
  margin: 3px 7px;
}

#list {
  columns: 2;
  column-fill: balance;
}

#list div {
    margin: 0;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */
}

#thumbUp, #thumbDown{
	font-size: 30px;
	padding: 10px;
	margin-left: 15px;
}

#addChoice {
	font-size: 40px;
}
